<link href="../public/Catalogue.css" rel="stylesheet">
<title>Catalogue</title>

<header>
    <%- include('NavBar') %>
</header>

<link href="../public/Catalogue.css" rel="stylesheet">
<title>Catalogue</title>

<header>
    <nav class="navBar">
        <ul>
            <li><a href="/accueil">Accueil</a></li>
            <li><a href="/catalogue">Catalogue</a></li>
            <li><a href="/suivi">Suivi de Livraison</a></li>
            <li><a href="/reparation">Réparation</a></li>
            <li><a href="/localisationMagasin">Vos Magasin</a></li>
        </ul>
    </nav>
</header>

<table>
    <tr>
        <th>Nom Article</th>
        <th>Categorie</th>
        <th>Prix</th>
        <th>Image</th>
    </tr>

    <%article.forEach(function(article) { %>
    <tr>
        <td><%=article.nomArticle%></td>
        <td><%=article.categorie%></td>
        <td><%=article.prix%></td>
        <td><img src="<% article.lienImage%>>"></td>
        <input type="button"  value="Ajouter">
    </tr>
    <%});%>
</table>

<footer>

    <ul class="ulFooter">
        <li>Nos Coordonnées:</li>
        <li>Mail : antoinecaudron8@gmail.com</li>
        <li>Téléphone : 06-12-57-17-95-24</li>
        <li>Adresse : Maubeuge, Bd Charles de Gaulle, 59600 Maubeuge</li>
    </ul>
</footer>

<footer>
    <%- include('Footer') %>
</footer>
