<link href="../public/Catalogue.css" rel="stylesheet">
<title>Catalogue</title>

<header>
    <%- include('NavBar') %>
</header>

<ul>
    <%articlePiece.forEach(function(articlePiece) { %>
        <li>
            <strong><%= articlePiece.idArticle %></strong>
        </li>
    <% }); %>
</ul>

<ul>
    <%articleVelo.forEach(function(articleVelo) { %>
        <li>
            <strong><%= articleVelo.idArticle %></strong>
            typeVelo <%= articleVelo.typeVelo %>, tailleVelo <%= articleVelo.tailleVelo %>, poidsVelo <%= articleVelo.poidsVelo %>
        </li>
    <% }); %>
</ul>

<footer>
    <%- include('Footer') %>
</footer>
