<!doctype html>
<html lang="fr">
<title>Commande</title>
<body>

<!-- En-tête de la page avec le menu de navigation -->

<header>
    <%- include('NavBar') %>
</header>

<!-- partie principale de la page, sert à visualiser la commande -->
<main>
    <h2>Récapitulatif de votre commande numéro : <%= commande.idCommande %> </h2>

    <table>
        <tr>
            <th>nom de l'article</th>
            <th>quantité</th>
            <th>prix</th>
        </tr>
    <% lignesCommande.forEach((commandes) => { %>
        <tr>
            <td><%= commandes.idArticle %><td>
            <td><%= commandes.quantite %></td>
            <td><%= commandes.prix %></td>
        </tr>
    <% }); %>
    </table>

    <form action="" method="post">
        <input type="submit" value="Valider Commande">
    </form>
</main>


<!-- Bas de la page avec d'autres informations -->
<footer>
    <%- include('Footer') %>
</footer>


</body>
</html>

