<title>Reparation</title>

<header>
    <%- include('NavBar') %>
</header>

<article>
    <h1> Reparations disponibles</h1>

    <table>
        <tr>
            <td>Nom Reparation</td>
            <td>Nom Magasin</td>
            <td>Prix</td>
            <td>Temps Reparation</td>
        </tr>
        <% reparations.forEach((reparation) => { %>
            <tr>
                <td><%= reparation.nomreparation %></td>
                <td><%= reparation.nommagasin %></td>
                <td><%= reparation.prix %></td>
                <td><%= reparation.tempsreparation %></td>
            </tr>
    </table>
    <% }); %>
</article>

<footer>
    <%- include('Footer') %>
</footer>
